<div class="login-panel">
  <div class="p-grid p-nogutter  p-justify-center p-align-center" style="height:100%">
    <div class="p-xl-3 p-lg-6 p-md-8 p-sm-10">
      <p-panel  header="{{ 'Gcon - Login Cidadão' | translate}}">
        <div class="p-grid p-justify-center p-align-center">
          <div>
            <img src="assets/images/logo_sesi_senai.png" class="login-logo">
          </div>
          <div>
            <div>
              <div class="p-align-center">
              <span class="fontcorAzulLarge">SAC - Serviço de Atendimento ao Cidadão</span>
              </div>
            </div>
          </div>
          <div>
            <div>
              <div class="p-align-center">
              <span class="fontcorAzul">Departamento Regional do SESI e do SENAI Pernambuco</span>
              </div>
            </div>
          </div>
          <br>
          <div>
            <div>
              <div class="p-align-center" style="font-size: small;">
              <span>Seja bem-vindo(a) ao Sistema de Acesso à Informação do</span>
              </div>
            </div>
          </div>
          <br>
          <div>
            <div>
              <div class="p-align-center" style="font-size: small;">
              <span>SESI e do SENAI Pernambuco</span>
              </div>
            </div>
          </div>
        </div>
        <br/>
        <div class="p-grid p-nogutter p-justify-center p-align-center">
          <div class="ui-inputgroup">
            <div class="p-align-center">
         
              <span class="ui-inputgroup-addon"><i class="fa fa-user"></i></span>
              <input id="input-username" type="text" size="30" pInputText [(ngModel)]="userName"
                placeholder="Númedo de documento">
            </div>
         </div>
      
        <div class="ui-inputgroup">
          <div class="p-align-center">
      
            <div>
              <span class="ui-inputgroup-addon"><i class="fa fa-key"></i></span>
              <input id="input-password" type="password" size="30" pInputText [(ngModel)]="password"
                placeholder="Senha">
            </div>
         </div>
       </div>
          <div class="p-col-12 text-center">
            <a>Esqueci a senha?</a>
          </div>
     </div>
     <BR/>
     <div class="p-fluid p-formgrid p-grid p-justify-center p-align-center">
      <div class="p-col-6">
            <button pButton type="button"  label="Login" 
              (click)="onClickLogin()"></button>
          </div>
          <div class="p-col-6">
            <button pButton type="button" label="Cadastre-se" 
              [routerLink]="['/register']"></button>
          </div>
        </div>
      </p-panel>
      <div class="extra-page-footer">
        <div>2022@ Multi Inovações.</div>
        <div>Version : {{version}}</div>
      </div>
    </div>
  </div>
</div>
