<app-header-breadcrumb></app-header-breadcrumb>

    <div class="p-fluid p-formgrid p-grid">   
    
        <div class="p-fluid p-formgrid p-grid p-col-12">           

            <div class="p-fluid p-formgrid p-grid p-col-12">           
                <div class="p-col-12 p-lg-3">
                    <div class="card border-left-success shadow h-100 py-2">
                        <div class="card-body">
                            <a  (click)="registrarPedido();" class="icon-home">
                                <div class="row no-gutters align-items-center">
                                    <div class="col mr-2">
                                        <div class="text-xs font-weight-bold text-success text-uppercase mb-1">
                                            Registrar Pedido</div>
                                        <div class="h5 mb-0 font-weight-bold text-gray-800"></div>
                                    </div>
                                    <div class="col-auto">
                                        <i class="far fa-comment-alt" ></i>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
    
                <div class="p-col-12 p-lg-3">
    
                    <div class="card border-left-success shadow h-100 py-2">
                        <div class="card-body">
                            <a  (click)="consultarPedido();" class="icon-cog">
                            <div class="row no-gutters align-items-center">
                                <div class="col mr-2">
                                    <div class="text-xs font-weight-bold text-success text-uppercase mb-1">
                                        Consultar Pedido</div>
                                    <div class="h5 mb-0 font-weight-bold text-gray-800"></div>
                                </div>
                                <div class="col-auto">
                                    <i class="fas fa-search" ></i>
                                </div>
                            </div>
                            </a>
                        </div>
                    </div>
    
    
    
    
                </div>
    
                <div class="p-col-12 p-lg-3">
    
                    <div class="card border-left-info shadow h-100 py-2">
                        <div class="card-body">
                            <a  (click)="consultarRecurso();" class="icon-cw">
                            <div class="row no-gutters align-items-center">
                                <div class="col mr-2">
                                    <div class="text-xs font-weight-bold text-info text-uppercase mb-1">Solicitar ou Consultar Recurso
                                    </div>
                                </div>
                                <div class="col-auto">
                                    <i class="far fa-folder-open" ></i>
                                </div>
                            </div>
                            </a>
                        </div>
                    </div>
    
                </div>
    
                <div class="p-col-12 p-lg-3">
    
                    <div class="card border-left-warning shadow h-100 py-2">
                        <div class="card-body">
                            <a  (click)="dadosCadastrais();" class="icon-location">
                            <div class="row no-gutters align-items-center">
                                <div class="col mr-2">
                                    <div class="text-xs font-weight-bold text-warning text-uppercase mb-1">
                                        Dados Cadastrais</div>
                                    <div class="h5 mb-0 font-weight-bold text-gray-800"></div>
                                </div>
                                <div class="col-auto">
                                    <i class="far fa-address-book" ></i>
                                </div>
                            </div>
                            </a>
                        </div>
                    </div>                
    
                </div>
    
    



            <div class="p-col-12 p-lg-12">
                <p-panel>
                    <ng-template pTemplate="header">
                        INFORMAÇÕES IMPORTANTES
                    </ng-template>
                    <p>Não serão atendidos pedidos:</p>
                    <p>* Genéricos</p>
                    <p>* Desproporcionais ou desarrazoados</p>
                    <p>* Que exijam trabalhos adicionais de análise, interpretação ou consolidação de dados e informações, ou serviços de produção ou tratamento de dados.</p>
                    <p>* Que envolvam dados pessoais solicitados por quem não tenham autorização legal ou que não tenha anuência da pessoa a que se refere o dado.</p>
                    <p>* Relativo às informações classificadas como sigilosas por lei ou ato normativo.</p>
                    <p>* Que não seja de competência do SESI ou do SENAI PE.</p>        
                    <ng-template pTemplate="footer">
                        <p>* Outras Informações, Ligue:  0800.600.9606</p>
                    </ng-template>
                </p-panel>
            </div>
        </div>



        </div>





    </div>

 




