<div class="ui-fluid ng-main" [ngClass]="theme">
    <p-toast position="top-center"></p-toast>
    <div [class.hidden]="!showLoader" class="np-loader">
        <p-progressSpinner strokeWidth="5"></p-progressSpinner>
    </div>
    <router-outlet></router-outlet>
    <p-confirmDialog header="Confirmação"
    id="dialog"
    icon="pi pi-question-circle" #confirmacao>
      <p-footer>
        <button type="button" pButton icon="pi pi-check" label="Sim"
          (click)="confirmacao.accept()"></button>
        <button type="button" pButton icon="pi pi-times" label="Não"
          (click)="confirmacao.reject()"></button>
      </p-footer>
    </p-confirmDialog>
</div>

