<app-header-breadcrumb></app-header-breadcrumb>
<form #f="ngForm" autocomplete="off" (ngSubmit)="pesquisa()">
<p-panel header="Lista de Pedidos de Informação">
  <div class="p-fluid p-formgrid p-grid">
    <div class="p-col-12 p-lg-6">
      <label for="numero">Número do Protocolo</label>
        <input id="numero" name="numero"
        [(ngModel)]="pedidoFilter.numero"
        type="text" pInputText>
    </div>
    <div class="p-col-12 p-lg-6">
      <label for="descricao">Descrição</label>
        <input id="descricao" name="descricao"
        [(ngModel)]="pedidoFilter.descricao"
        type="text" pInputText>
    </div>
  </div>
  <div class="p-fluid p-formgrid p-grid">
    <div class="p-col-12 p-lg-6">
      <button pButton type="submit"
      [disabled]="f.invalid"
      label="Pesquisar"></button>
    </div>


  </div>
    <p-table  [value]="atendimentos" styleClass="p-datatable-sm p-datatable-striped"
     #tabela>
        <ng-template pTemplate="header">
          <tr>
            <th style="font-size: small; text-align: center;">Protocolo</th>
            <th style="font-size: small;">Descrição</th>
            <th style="font-size: small; text-align: center;">Instituição</th>
            <th style="font-size: small;">Status</th>
            <th style="font-size: small;"></th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-atendimento>
            <tr>
                <td style="font-size: small; text-align: center;">
                    {{atendimento.numeroProtocolo}}
                </td>                
                <td style="font-size: small;">
                    {{atendimento.descricao}}
                </td>
                <td style="font-size: small; text-align: center;">
                  {{atendimento.instituicao === 1 ? "SENAI" : "SESI"}}
                </td>
                <td style="font-size: small;">
                  {{atendimento.descricaoStatusAtendimento}}
                </td>
                <td style="font-size: small;">
                    <a pButton icon="pi pi-folder-open" pTooltip="Editar" tooltipPosition="top"
                    (click)="editarPedido(atendimento.id)"></a>
                </td>                
              </tr>
        </ng-template>
    </p-table>
</p-panel>
</form>
